@using System.Web.Mvc.Html
@using System.Web.Razor
@model MyOnlineShop.Models.Category

@{
    ViewBag.Title = "Browse";
}



<h2>Browsing category: @Model.Name</h2>

<div class="row">
    @foreach (var item in Model.Products)
    {
        @*<li>
                @Html.ActionLink(item.Title, "Details", new {id = item.Id})
                <img alt="@item.Title"
                     src="@item.ProductArtUrl" />
            </li>*@

         <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="@item.ProductArtUrl" alt="@item.Title">
            <div class="caption">
                <h3>@Html.ActionLink(item.Title, "Details", new { id = item.Id })</h3>
                <p>
                    <em>Name:</em>
                    <b>@item.Title</b>
                </p>
                <p>
                    <em>Category:</em>
                    <b>@item.Category.Name</b>
                </p>
                <p>
                    <em>Price:</em>
                    <b> $ @item.Price</b>
                </p>

                <p>
                    @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = Model.Id }, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
    }
</div>  

