@model MyOnlineShop.Web.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="@Model.ProductArtUrl" alt="@Model.Title">
            <div class="caption">
                <h3>@Html.ActionLink(Model.Title, "Details", new { id = Model.Id })</h3>
                <p>
                    <em>Name:</em>
                    <b>@Model.Title</b>
                </p>
                <p>
                    <em>Category:</em>
                    <b>@Model.Category.Name</b>
                </p>
                <p>
                    <em>Price:</em>
                    <b> $ @Model.Price</b>
                </p>
                
                <div>
                    Votes: <span id="article-votes">@Model.Votes</span>
                    @if (User.Identity.IsAuthenticated && Model.UserCanVote)
                    {
                        @Ajax.ActionLink("Vote", "Vote", new { id = Model.Id }, new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "article-votes",
                            HttpMethod = "Post",
                            OnSuccess = "hideVoteButton"
                        },
                            new { id = "vote-button", @class = "btn btn-danger" })
                    }
                </div><br />

                <p>
                    @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = Model.Id }, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>


  
    @section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function commentPostFailure() {
            alert("Error");
        }

        function hideVoteButton() {
            $("#vote-button").hide().cache();
        }
    </script>
}
   
   
    
   


