@model MyOnlineShop.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
<img alt="@Model.Title"
     src="@Model.ProductArtUrl" />

<div id="prduct-details">
  
    <em>Name:</em>
    <h4><b>
            @Model.Title
        </b></h4>
   
    <em>Category:</em>
    <h4><b>
            @Model.Category.Name
        </b></h4>
    
    <em>Price:</em>
    <h4>
        <b> $ @Model.Price</b>
    </h4>
    
    <p>
        @Html.ActionLink("Add to Cart","AddToCart","ShoppingCart", new{id=Model.Id},new{@class="btn btn-primary"})
    </p>
</div>

